@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root
{
    --black : #0a0a0ade;
    --light-color : #e4c590;
    --box-shadow : 0 .6rem 1.6rem rgba(0,0,0,.15);
}


*
{
    font-family: 'Roboto', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    text-decoration : none;
    border : none;
    outline : none;
    text-transform: uppercase;
    transition: all .25s linear;
}

html
{
    font-size : 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #bf1722;
    color: white;
    padding: 8px;
    z-index: 10000000;
}

.skip-link:focus {
    top: 0;
}

/* navbar style start */
header
{
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    
    background : var(--black);
    padding : 1.1rem 7.1%;
    display : flex;
    align-items : center;
    justify-content: space-between;
    box-shadow : var(--box-shadow);
    z-index : 100000;
}

header .logo img
{
    height: auto;
}

header .navbar a
{
    font-size : 2.8rem;
    padding : .55rem 1.51rem;
    color : var(--light-color);
    border : .11rem solid transparent;
    /* height: 44px !important;
    width: 44px !important; */
}

header .navbar a:focus
{
    outline : 3px solid var(--light-color);
}

header .navbar a.active,
header .navbar a:hover
{
    color : #fff;
    border : .15rem solid rgba(198, 168, 129, 0.2);
    
    
}


header .icons i
{
    cursor : pointer;
    margin-left : .55rem;
    /* height: 4.45rem;
    width : 4.45rem; */
    min-width : 44px;
    min-height : 44px;
    
    line-height: 4.45rem;
    background: var(--light-color);
    text-align: center;
    font-size: 1.65rem;
    color : #fff;
}

header .icons i:hover
{
    color : #fff;
    background: var(--light-color);
    transform: rotate(360deg);
}

header .icons button
{
    background: transparent;
}

header .icons #menu
{
    display : none;
}

/* navbar style end */


/* slider style start */
.home .home-slider .slide
{
    display : flex;
    align-items : center;
    height : 101vh;
    width : 1000px;
    justify-content: flex-start;
}

.home .home-slider .slide1
{
    background : url(../public/images/heros/hero-image_3.jpg);
    
}

.home .home-slider .slide2 {
    background: url(../public/images/navbar/slideshow-9.jpg);
}

.home .home-slider .slide3 {
    background: url(../public/images/navbar/slideshow-11.jpg);
}

.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
{
    background-size: cover;
    background-repeat: no-repeat;
}

.home .home-slider .slide .content 
{
    text-align : center;
    padding-left : 8.9rem;
}

.home .home-slider .slide .content h3
{
    color : var(--light-color);
    font-size : 3.1rem;
    font-weight: 300;
}

.home .home-slider .slide .content h1
{
    color : #fff;
    font-size: 7.9rem;
}

.home .home-slider .slide .content p 
{
    color: #e6e7e7;
    font-size: 1.9rem;
    letter-spacing: 1.1px;
    padding : .55rem 0;
    line-height : 1.6;
    font-weight: 200;
}

.btn
{
    margin-top : 1.1rem;
    display : inline-block;
    font-size: 1.65rem;
    color : #fff;
    border : .2rem solid rgba(205, 170, 124, 0.3);
    background : transparent;
    cursor : pointer;
    padding : .75rem 3.1rem;
    position : relative;
    overflow : hidden;
    z-index : 1;
    min-height: 44px;
    min-width: 44px;
}

.btn:before
{
    content : '';
    width : 100%;
    height : 100%;
    background: var(--light-color);
    z-index : -1;
    position : absolute;
    top : 0;
    left : -100%;
    transition: .6s;
}

.btn:hover.btn:before
{
    left : 0;
}

.swiper-pagination-bullet
{
    background : var(--light-color) !important;
    width : 16px !important;
    height : 16px !important;
    border-radius: 0 !important;
}

/* slider style end */

/* welcome style start */
section
{
    padding : 7.9rem 9%;
}

.heading
{
    text-align: center;
    color : var(--black);
    font-size: 4.6rem;
    padding-bottom: 2.1rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.sub-heading
{
    text-align : center;
    color : var(--light-color);
    font-size: 2.6rem;
    padding : .55rem 1.9rem;
    font-weight: 300;
    margin-bottom : 4.1rem;
    background: var(--black);
    display : inline-block;

}

.welcome .box-container
{
    display : flex;
    gap : 1.6rem;
    
    flex-flow: wrap;
    justify-content:space-around;
}

.welcome .box-container .box
{
    width : 35%;
    
    background : var(--black);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding-bottom: 1.5%;
    
}

.welcome .box-container .box .image
{
    height : 25.5rem;
    width : 100%;
    overflow: hidden;
    position : relative;

}

.welcome .box-container .box .image img
{
    height : 100%;
    width : 100%;
    object-fit: cover;
}

.welcome .box-container .box .image:hover img
{
    transform : scale(1.2);
}

.welcome .box-container .box .content
{
    padding : 2.1rem;
    padding-top: 2.1 rem;
    overflow : hidden;
    flex-direction: column;
}

.welcome .box-container .box .content h3
{
    color : var(--light-color);
    font-size : 2.1rem;
    font-weight: 400;

}

.welcome .box-container .box .content p
{
    color : #fff;
    font-size : 1.5rem;
    font-weight: 300;
    padding : .55rem 0;
    line-height: 1.49;
    
}


/* welcome style end */

/* our menu style start */
.our-menu
{
    background : url(../public/images/navbar/our-menu-bg-1.png) left top no-repeat, url(../public/images/navbar/our-menu-bg-3.jpg);
}

.our-menu .menu-container
{
    padding : 2.9rem 0.1;
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(50.5rem, 2fr));
    gap : 5.1rem 10.1rem;
}

.our-menu .menu-container .item .item-name
{
    display : flex;
    justify-content: space-between;
    padding : 1.1rem 0.1;
    margin-top : .6rem;

}

.our-menu .menu-container .item .item-menu
{
    padding : .55rem 0.1;

}

.our-menu .menu-container .item .item-name h2
{
    font-size : 3.1rem;
    color : #e5e5e6;
    font-weight: 300;
}

.our-menu .menu-container .item .item-menu h3
{
    font-size: 2.1rem;
    color : #e5e5e6;
    font-weight: 200;
    display : inline-block;

}

.our-menu .menu-container .item .item-menu .dots
{
    width : 34%;
    display: inline-block;
    border : 1.1px dotted #e5e5e6;
}

.our-menu .menu-container .item .item-menu ul
{
    display : flex;
    font-size: 1.6rem;
    list-style: none;
    padding : .85rem 0.1;
    font-weight: 200;
}

.our-menu .menu-container .item .item-menu ul li
{
    color : #b9b9b8;
    text-transform: capitalize;
}


/* our menu style end */



/* our chef style start */
.our-chef
{
    width : 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.2rem, 1fr));
}
/* our chef style ends */